[user]
    name = Florin Ciurcanu
    email = florin.ciurcanu@gmail.com
	signingkey = 794463A475697724
[pager]
    branch = false
[push]
    autoSetupRemote = true
[alias]
    count-lines = "!f() { git log --author=\"$1\" --since=\"$2\" --until=\"$3\" --pretty=tformat: --numstat | awk '{ add += $1; subs += $2; loc += $1 - $2 } END { printf \"added lines: %s, removed lines: %s, total lines: %s\\n\", add, subs, loc }'; }; f"
    close-branch = "!f() { \
        branch=$(git branch --show-current); \
        default=$(git remote show origin | grep 'HEAD branch' | sed 's/.*: //'); \
        git checkout $default; \
        git pull; \
        git branch -d $branch; \
        }; f"
    open-branch = "!f() { \
        if [[ -z $1 ]]; then echo 'Please supply the new branch name.'; exit 1; fi; \
        branch=$(git branch --show-current); \
        default=$(git remote show origin | grep 'HEAD branch' | sed 's/.*: //'); \
        if [[ $branch = $default ]]; then \
            git pull; \
            git checkout -b $1; \
        else \
            echo \"Please switch to $default branch first.\"; \
            exit 1; \
        fi; \
        }; f"
	fpush = push --force-with-lease

[core]
    autolf = true

[includeIf "hasconfig:remote.*.url:git@bitbucket.org:jibecompany/**"]
    path = ~/work/.gitconfig-jibe
[column]
	ui = auto
[branch]
	sort = -committerdate
